<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgc.logistics.dao.AugustUserMapper">
  <resultMap id="BaseResultMap" type="com.wgc.logistics.entity.AugustUser">
    <id column="user_nubmer" jdbcType="INTEGER" property="userNubmer" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_remarks" jdbcType="VARCHAR" property="userRemarks" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_nubmer, user_name, user_remarks
  </sql>
  <select id="selectByExample" parameterType="com.wgc.logistics.entity.AugustUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from august_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from august_user
    where user_nubmer = #{userNubmer,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from august_user
    where user_nubmer = #{userNubmer,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wgc.logistics.entity.AugustUserExample">
    delete from august_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wgc.logistics.entity.AugustUser">
    insert into august_user (user_nubmer, user_name, user_remarks
      )
    values (#{userNubmer,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userRemarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wgc.logistics.entity.AugustUser">
    insert into august_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userNubmer != null">
        user_nubmer,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userRemarks != null">
        user_remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userNubmer != null">
        #{userNubmer,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userRemarks != null">
        #{userRemarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wgc.logistics.entity.AugustUserExample" resultType="java.lang.Long">
    select count(*) from august_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update august_user
    <set>
      <if test="record.userNubmer != null">
        user_nubmer = #{record.userNubmer,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userRemarks != null">
        user_remarks = #{record.userRemarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update august_user
    set user_nubmer = #{record.userNubmer,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_remarks = #{record.userRemarks,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wgc.logistics.entity.AugustUser">
    update august_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userRemarks != null">
        user_remarks = #{userRemarks,jdbcType=VARCHAR},
      </if>
    </set>
    where user_nubmer = #{userNubmer,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wgc.logistics.entity.AugustUser">
    update august_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_remarks = #{userRemarks,jdbcType=VARCHAR}
    where user_nubmer = #{userNubmer,jdbcType=INTEGER}
  </update>
</mapper>